@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.max-width {
	max-width: calc(1500px + 24px);
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
